.nav
{
	display: none;
}

.header
{
	height: 250px;
	margin-top: 0;
}

.logo
{
	max-width: 200px;
}

.description
{
	text-align: left;
	font-size: 20px;
}

.team-member
{
	margin-top: 32px;
}

.team-member-image
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.team-member-name,
.team-member-title,
.team-member-company,
.team-member-contact
{
	margin: 0;
}

.team-member-name
{
	margin: 16px 0 8px;
	font-size: 18px;
	font-weight: 600;
	color: var(--accent-primary);
}

.team-member-title,
.team-member-company
{
	font-size: 14px;
}

.icon
{
	margin: 16px 8px;
}

@media only screen and (min-width: 768px)
{
	.nav
	{
		display: flex;
	}

	.header
	{
		height: 400px;
		margin-top: 36px;
	}
}